{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@config": ["./src/infra/config"],
          "@modules": ["./src/modules"],
          "@knex": ["./src/infra/knex"],
          "@providers": ["./src/providers"]
        }
      }
    ]
  ]
}
